@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$colors: (
    // dark-100: #08070f,
    // dark-200: #18161f,
    dark-100: #000000,
    dark-200: #1a1716,

    light-100: #f7efdb,
    light-200: #d2c9b1,
    light-300: #aea58b,

    accent-100: #3426d2,

);

$font-main: 'Figtree', serif;
$font-display: 'PT Serif', serif

