.container {
    height: calc(100% - (48px + 8px + 48px) - 48px - 8px);
    padding-bottom: 16px;
    box-sizing: border-box;
    display: flex;
    gap: 24px;
    overflow-x: scroll;
    width: 100%;
  }